{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	<!-- End About Lists Section -->

	<!-- ======= Our Team Section ======= -->
	<section id="team" class="team">
		<div class="container">

			<div class="section-title">
				<h2>Réservez en quelques clics une séance de sport avec un coach</h2>
				<p class="marche_coach">Comment ça marche ?</p>
			</div>
			<br><br><br>
			<div class="row">
                <br><br>
				<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
					<div class="member">
						<div class="pic"><img src="assets/images/team/team-1.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>RECHERCHE COACH</h4>
							<span>Renseignez votre localisation, l’activité de votre choix, votre fourchette de prix pour trouver le coach qui vous correspond</span>
						</div>
					</div>
				</div>

                <br><br>

				<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
					<div class="member">
						<div class="pic"><img src="assets/images/team/team-2.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>RÉSERVATION</h4>
							<span>Contactez votre coach pour expliquer votre objectif et booker la séance qui vous convient</span>
						</div>
					</div>
				</div>

                <br><br>

				<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
					<div class="member">
						<div class="pic"><img src="assets/images/team/team-3.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>CONFIRMATION</h4>
							<span>Votre coach confirme votre séance et vous contacte pour fixer un lieu de rendez-vous, à domicile ou près de chez vous</span>
						</div>
					</div>
				</div>

                <br><br><br>

				<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="assets/images/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>SÉANCE</h4>
                <span>Votre séance se déroule sous la supervision de votre coach qui vous motive et vous accompagne. De quoi devenir rapidement accro !</span>
                </div>
            </div>
          </div>

			</div>

		</div>
	</section>
	<!-- End Our Team Section -->


{% endblock %}
